@model GameGram.Web.ViewModels.Posts.CreatePostViewModel
@{
    ViewBag.Title = "Add";
}

<form action="/posts/add" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label>Caption</label>
        @Html.TextBoxFor(a => a.Caption, new { @class = "form-control", placeholder = "Caption" })
    </div>
    <div class="form-group">
        <label>Content</label>
        @Html.TextAreaFor(a => a.Content, new { @class = "form-control", placeholder = "Content" })
    </div>
    <button type="submit" id="submit" name="submit" class="btn btn-primary btn-blue noborder btn-rounded">Create</button>
</form>

